* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color:green
}

body {
font-size: larger;
background: lightblue;
padding: 1px;
display: flex;
margin:auto;
width: 400px;

}

form {
    font-size: larger;
    color: green;
}

#item-list {
    color: darkblue;
    font-size: medium;
    padding: 0%;
    height: auto;
   
}


  